.root{
    height: 70px;
    font-size: 24px;
    background: #9fb4e3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px pink;
}